<h1>Hello</h1>

<!-- <table>
  <tr>
    <td><app-add-employee></app-add-employee></td>
    <td><app-employee-list></app-employee-list></td>
  </tr>
</table> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-structural-directives></app-structural-directives> -->
 <!-- <app-attribute-directive></app-attribute-directive> -->


 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="emp-list">Employee list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="add-emp">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="data-binding">Data binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="structural-directives">Structural driectives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="attribute-directives">Attribute driectives</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>