<div class="mt-2 ng-secondary text-white rounded">
  <h1>Attribut Directive</h1>
  <p>[ngClass], [ngStyle]</p>
  <h1>[ngClass]</h1>
  <button class="btn btn-primary" [routerLink]="['/structural-directives']">Go to structural Directive</button>
</div>
<div class="row pt-3">
  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="div1BgColor">
      <h4>Div-1</h4>
    </div>
  </div>
  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="isDiv2Active ? 'bg-success' : 'bg-warning'">
      <h4>Div-2</h4>
    </div>
  </div>
  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="num1 == num2 ? 'bg-secondary text-danger' : 'bg-danger text-primary'">
      <h4>Div-3</h4>
    </div>
  </div>
  <div class="col-3">
    <div class="p-2 text-center" [ngClass]="isActive ? 'bg-primary' : ''">
      <h4>Div-4</h4>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="com-3 text-center">
    <button class="btn btn-danger" (click)="addRedClass()">Add Red</button>
    <button class="btn btn-primary mx-2" (click)="addBlueClass()">Add Blue</button>
  </div>
  <div class="col-3 text-center">
    <button class="btn btn-success" (click)="toggleDiv2Class()">Toggle</button>
  </div>
  <div class="col-3">
    <div style="
      display: flex;
      align-items: center;
      ">
    <input type="text" [(ngModel)]="num1" placeholder="Num-1" class="width-50">
    <input type="text" [(ngModel)]="num2" placeholder="Num-2" class="width-50">  
    </div>
  </div>
  <div class="col-3">
    <div style="
      display: flex;
      align-items: center;
      ">

<select>
  <option value="">Select State</option>
  <option value="India">India</option>
  <option value="USA">USA</option>
  <option value="Mexico">Mexico</option>
  <option value="Antartica">Antartica</option>
    </select>
  <input type="checkbox" [(ngModel)]="isActive" class="width-50">
    </div>
  </div>
</div>
<h1 [ngClass]="ngClassColor">hello</h1>
<h1 [ngClass]="backCheck">Based on click</h1>
<button (click)="changeColor()">Change color</button>

<div [ngClass]="{background: searchValue != ''}">
  <span>Search:</span>
  <input type="search" [(ngModel)]="searchValue">
</div>
<h1>[ngStyle]</h1>
<div class="row pt-4">
  <div class="col-5">
    <div class="table table-ordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>gender</th>
          <th>name</th>
          <th>status</th>
          <th>feeling</th>
          <th>totalPower</th>
          <th>alive</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of mySpirit, let index = index">
          <td>{{index+1}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.name}}</td>
          <td>{{student.status}}</td>
          <td>{{student.feeling}}</td>
          <td>
            <div class="progress">
              <div class="progress-bar" [ngStyle]="{'width': student.totalPower + '%'}"></div>
            </div>
            {{student.totalPower}}
          </td>
          <td [ngStyle]="{'background-color':student.alive ? 'green':'red'}">
            <span>
              {{student.alive ? 'Active':'Deactive'}}
            </span>
          </td>
        </tr>
      </tbody>
    </div>
  </div>
  <div class="col-5">
    <div [ngStyle]="{ngClassColor}">
      Div test
    </div>
  </div>
</div>
